# ==============================
# Build results
# ==============================
bin/
obj/
out/

# ==============================
# Visual Studio files
# ==============================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ==============================
# Rider / VS Code
# ==============================
.idea/
.vscode/

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Executables
# ==============================
*.exe
*.dll
*.pdb
*.app
*.apk

# ==============================
# Logs
# ==============================
*.log

# ==============================
# NuGet
# ==============================
packages/
*.nupkg
*.snupkg

# ==============================
# Publish output
# ==============================
publish/

# ==============================
# Environment files
# ==============================
.env

# ==============================
# Temporary files
# ==============================
*.tmp
*.temp
*.cache
